/******************************************** 
common styles
********************************************/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@500&family=Slabo+27px&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}


/* *************************************************
header styles 
*****************************************************/
header {
    margin: 50px 130px 140px 140px;
    transition: 1.5s ease-in-out;
}

header:hover {
    transform: scale(1.1);
}


.banner-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    color: white;
    border-radius: 30px;
}

.banner {
    width: 531px;
    height: 424px;
    margin-left: 106px;
}

.banner-headline {
    font-weight: 700;
    font-size: 65px;
}

.banner-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}

.watch-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
    background-color: #DD0000;
    border-radius: 5px;
    margin-top: 30px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: padding 1s ease, background-color 1s, border 1s;
}

.watch-btn:hover {
    padding: 20px 40px;
    background-color: yellow;
    color: black;
    border-bottom: 4mm ridge rgb(255, 0, 221);
}

.banner-image {
    background: url('../assets/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 50px;
}


/* ********************************************
footbal-wrapper section styles
********************************************** */
.main-wrapper {
    margin: 0 130px 140px 140px;
    display: flex;
}

.menu {
    Width: 312px;
    Height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-right: 24px;
}

.upcoming-match,
.all-group,
.blog-menu {
    background-color: white;
    color: black;
    text-decoration: none;
    width: 200px;
    height: 58px;
    text-align: center;
    border-radius: 5px;
    padding-top: 18px;
}

#active {
    background-color: red;
    color: white;
    font-weight: 900;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 24px;
    row-gap: 24px;
}

.blog {
    border: 1px solid #f2eaea;
    border-radius: 13px;
}

.blog img {
    width: 100%;
}

.blog p {
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.transfer-btn {
    margin-left: 15px;
    margin-top: 15px;
    width: 100px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

.blog-icon {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: rgba(22, 22, 22, 0.7);
}

.fa-clock {
    margin-right: 10px;
}

.fa-comment-dots {
    margin-left: 40px;
    margin-right: 10px;
}

.viewAll-btn {
    display: none;
}

/**************************************************
footer style
***************************************************/
footer {
    background-color: #161616;
    padding-bottom: 130px;
}

footer h1 {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    padding-top: 130px;
    padding-bottom: 50px;
}

footer hr {
    margin: 0 140px;
    height: 1px;
    background-color: rgb(45 44 44);
    border: none;
}

.footer-menu {
    padding-top: 50px;
    text-align: center;

}

.footer-menu a {
    text-decoration: none;
    color: #B9B9B9;
    padding: 20px;
}

.footer-icon {
    display: none;
}


/**************************************************************
match.html style
***************************************************************/

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    width: 100%;
    row-gap: 24px;
}

.match {
    border: 1px solid #f2eaea;
    border-radius: 13px;

}

.match-flag {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
}

.match-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-info h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
}

.match-info p {
    margin: 0 0 50px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4D4D4D
}


/************************************************************
Responsive media query
**************************************************************/

/*************************************************************
mobile devices
**************************************************************/
@media only screen and (max-width:576px) {
    body {
        /* margin: 20px; */
    }

    header {
        margin: 20px;
        transition: 1.5s ease-in-out;
    }

    header:hover {
        transform: scale(1.1);
    }


    .banner-main {
        flex-direction: column;
        text-align: center
    }

    .banner {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .banner-text {
        white-space: nowrap;
        overflow: hidden;
        margin-left: 5px;
        text-overflow: ellipsis;
    }

    .watch-btn {
        margin: 20px auto;
    }

    .banner-image {
        width: 100%;
        height: 400px;
        margin: 0 0 0 30px;
    }

    main {
        margin: 20px;
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        background-color: white;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-top: 40px;
    }

    .upcoming-match {
        width: 158px;
        height: 40px;
        border: 1px solid lightgray;
        color: black;
        margin-top: 20px;
        padding-top: 9px;
    }

    .all-group {
        width: 100px;
        height: 40px;
        border: 1px solid lightgray;
        color: black;
        margin-top: 20px;
        padding-top: 9px;
        border-radius: 8px;
    }

    .blog-menu {
        width: 100px;
        height: 40px;
        border: 1px solid lightgray;
        color: black;
        margin-top: 20px;
        padding-top: 9px;
        border-radius: 8px;
    }

    .main-wrapper {
        margin: 0 0 0 0;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }

    footer {
        margin-top: 40px;
        padding-bottom: 50px;
    }

    footer h1 {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    footer hr {
        margin: 0 20px 0 20px;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .footer-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-icon a {
        text-decoration: none;
        color: white;
        padding: 15px;
    }

    .matches {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    header {
        margin: 20px;
        transition: 1.5s ease-in-out;
    }

    header:hover {
        transform: scale(1.1);
    }


    .banner-main {
        padding: 0 40px;
    }

    .banner {
        width: 50%;
        height: auto;
        margin-left: 0;
    }

    .banner-headline {
        font-size: 45px;
    }

    .banner-text {}

    .banner-image {
        width: 50%;
        height: 480px;
        margin-top: 0;
        margin-right: 0;
        background-position: bottom;
        background-size: 100% 89%;
    }

    main {
        margin: 20px;
    }

    .main-wrapper {
        flex-direction: column;
        margin: 0;
    }

    .menu {
        Width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        justify-content: space-between;
        border-radius: 10px;
        margin-right: 0;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .upcoming-match,
    .all-group,
    .blog-menu {
        background-color: white;
        color: black;
        text-decoration: none;
        width: 200px;
        height: 58px;
        text-align: center;
        border-radius: 5px;
        padding-top: 18px;
        border: 1px solid lightgray;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    #blog {
        display: none;
    }

    .viewAll-btn {
        display: flex;
        margin: 0 auto;
        background-color: red;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    footer {
        margin-top: 40px;
        padding-bottom: 50px;
    }

    footer hr {
        margin: 0 30px;
    }

    .footer-menu {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-menu a {
        padding: 28px;
    }

    .matches {
        grid-template-columns: repeat(2, 1fr);
    }

}